@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(224, 146, 192);
  }
  header {
    background-image: url("https://cdn.pixabay.com/photo/2020/11/16/17/15/candies-5749622_1280.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0px 0px;
    text-align: center;
    padding: 110px;
}
h1 {
    color: rgb(63, 35, 131);
    font-size: 50px;
}
p {
    color: rgb(24, 3, 3);
    font-size: 20px;
}
div{
    background-color: aliceblue;
}
section{
    margin: 10%;
    background-color: aliceblue;
    height: 80%;
    width: 80%;
}

form{
    font-size: 25px;

}

.submit{
    background-color: rgb(35, 141, 35);
    font-size: 20px;
}
.reset{
    background-color: rgb(219, 67, 67);
    font-size: 20px;
}

legend{
    font-weight: bold;
}
